.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #eed872;
  flex-direction: column;
}
.logo_note {
  width: 150px;
  height: 140px;
  margin-bottom: -30px;
  padding: 0;
}
.list {
  height: fit-content;
  width: 20vw;
  padding: 15px;
  font-size: 14pt;
  background-color: rgb(240, 202, 33);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.elements {
  width: 100px;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.update:hover {
  background-color: rgba(0, 195, 255, 0.782);
  fill: rgba(0, 195, 255, 0.782);
  cursor: pointer;
}
.delete :hover {
  cursor: pointer;
  fill: red;
}
.add {
  cursor: pointer;
  fill: green;
}
.input {
  width: 22vw;
  height: fit-content;
  border-radius: 25px;
  text-transform: capitalize;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  background-color: rgb(240, 202, 33);
  margin-bottom: 10px;
}
.itemName {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18pt;
  width: fit-content;
}
.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 20vw;
  height: fit-content;
  border-bottom: 2px solid whitesmoke;
}
